# Virtual Environment
venv/

# Environment Variables
.env
.env.*

# Python Cache
__pycache__/
*.pyc

# CSV Files
*.csv

# (Optional) Ignore data folder if it contains datasets
# data/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# IDE Settings
.vscode/
.idea/